.navegacao{
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}


@media (max-width: 774px){
    .navegacao{
        height: 72px;
    }
}