.navegacao{
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}


@media (max-width: 774px){
    .navegacao{
        height: 72px;
    }
}

.logo {
    height: 148px;
    width: auto;
    object-fit: contain;
    position: absolute;
    margin-left: 30px;
    margin-top: -13px;
}


@media (max-width: 774px) {
    .cabecalho {
        height: 72px;
        flex-direction: row;
        gap: 1rem;
    }
    .logo {
        height: 50px;
    }
}